.card {
  width: 8rem;
  height: 11rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 2px 20px 0px;
  background-color: aliceblue;
  padding: 0.5em;
  cursor: pointer;
}

.cardImg {
  width: 60%;
  margin: 0.5em auto;
}
