.rating {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.divCircle {
  width: 70%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: flex-end;
}
