.button {
  background-color: rgb(124 28 185);
  color: white;
  width: 20em;
  height: 3em;
  border-radius: 8px;
  border: 1px solid rgb(124 28 185);
  cursor: pointer;
}

.button:hover {
  transform: scale(1.05);
  background-color: rgb(152 44 221);
}
