.circle {
  width: 1.5em;
  height: 1.5em;
  background-color: #ffcc48;
  clip-path: polygon(
    50% 0%,
    64% 30%,
    98% 35%,
    75% 61%,
    79% 91%,
    50% 75%,
    21% 91%,
    25% 59%,
    2% 35%,
    34% 30%
  );
}

.circleActive {
  background-color: rgb(179, 199, 214);
}
