.wrapper {
  width: 90vw;
  min-height: 100vh;
  margin: 0 auto;
}

.productsBox {
  padding: 0 1em;
  margin-top: 2rem;
  width: 100%;
  min-height: 60vh;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 3em;
}
