.productCards {
  width: 17rem;
  height: 40rem;
  display: flex;
  border-radius: 8px;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 0.5em;
  box-shadow: 1px 2px 20px 0px;
  background-color: aliceblue;
}

.productCards:hover {
  transform: scale(1.1);
}

.cardImg {
  width: 60%;
  margin: 0.5em auto;
}

.cardDescription {
  font-size: 0.7em;
}

.cards {
  color: green;
}

.cardPrice {
  font-size: 1.2em;
  font-weight: bolder;
}

.cardBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardIcon {
  font-size: 2em;
  color: rgb(179, 199, 214);
  transition: color 9999999s;
}

.cardIcon:active {
  color: rgb(124 28 185);
  transition: color 0s;
}
