.header {
  width: 100%;
  min-height: 30vh;
  padding: 0 1em;
  display: flex;
  flex-direction: column;
}

.header h4 {
  cursor: pointer;
}

.headerBox {
  display: flex;
  justify-content: flex-start;
  gap: 2em;
}
